<h2>New Question</h2>

<form ng-submit="create()">
<div>
    <table>
        <form>
        <tr>
            <td>Question</td>
            <td><textarea ng-model="newQuestion.description"></textarea></td>
        </tr>
        <tr>
            <td>Correct Answer</td>
            <td><input type="text" ng-model="newQuestion.correctAnswer"></td>
        </tr>
        <tr>
            <td>Fake Answer 1</td>
            <td><input type="text" ng-model="newQuestion.otherAnswer1"></td>
        </tr>
        <tr>
            <td>Fake Answer 2</td>
            <td><input type="text" ng-model="newQuestion.otherAnswer2"></td>
        </tr>
    </table>
</div>
<div>
    <button><a href="#!/main">Cancel</a></button>
    <input type="submit" value="Add Question">
</div>
</form>