<p ng-if="!userLoggedIn">You are not logged in. Please refresh to log in!</p>

<div ng-if="userLoggedIn">
    <div>
        <p>Hi <span ng-bind="userLoggedIn"></span>!</p>
        <p>Choose an answer for each of the questions and submit the test once done.</p>
        <p>Good luck!</p>
    </div>
    <form name="gameResponse" novalidate ng-submit="scoreGame()">
        <div class="questionBox">
            <p ng-bind="questions[0].description"></p>
                <p><input name="{{questions[0]._id}}" ng-model="newGame.response1" type="radio" value="1"> <span ng-bind="questions[0].correctAnswer"></span></p>
                <p><input name="{{questions[0]._id}}" type="radio" ng-model="newGame.response1" value="0"> <span ng-bind="questions[0].otherAnswer1"></span></p>
                <p><input name="{{question[0]._id}}" type="radio"  ng-model="newGame.response1" value="0"> <span ng-bind="questions[0].otherAnswer2"></span></p>
        </div>
        <div class="questionBox">
                <p ng-bind="questions[1].description"></p>
                <p><input name="{{questions[1]._id}}" ng-model="newGame.response2" type="radio" value="1"> <span ng-bind="questions[1].correctAnswer"></span></p>
                <p><input name="{{questions[1]._id}}" type="radio" ng-model="newGame.response2" value="0"> <span ng-bind="questions[1].otherAnswer1"></span></p>
                <p><input name="{{questions[1]._id}}" type="radio"  ng-model="newGame.response2" value="0"> <span ng-bind="questions[1].otherAnswer2"></span></p>
        </div>
        <div class="questionBox">
            <p ng-bind="questions[2].description"></p>
            <p><input name="{{questions[2]._id}}" ng-model="newGame.response3" type="radio" value="1"> <span ng-bind="questions[2].correctAnswer"></span></p>
            <p><input name="{{questions[2]._id}}" type="radio" ng-model="newGame.response3" value="0"> <span ng-bind="questions[2].otherAnswer1"></span></p>
            <p><input name="{{questions[2]._id}}" type="radio"  ng-model="newGame.response3" value="0"> <span ng-bind="questions[2].otherAnswer2"></span></p>
        </div>
        <div>
            <button><a href="#!/main">Cancel</a></button>
            <input type="submit" value="Submit">
            <!--<button ng-click="newGame.scoreGame()"></button>-->
        </div>
    </form>
<!--
    <form ng-submit="test()">
        <input type="text" ng-model="newtest.name">
        <input type="submit" value="test">
    </form>-->

</div>